# Python
__pycache__/
*.py[cod]
*.so
*.log
*.wsgi

# Virtual Environment
venv/
env/
.env

# IDE
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env.local
